/* add your styles here */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  border-radius: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  margin: 50px;
  gap: 3rem;
}

.image img {
  width: 100%;
  margin: auto;
}
